<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Example Question</title>
</head>
<style>
    body {
        background-color: lightblue;
    }
    .wallpaper {
        margin-top: 75px;
        margin-left: 50px;
    }
</style>
</head>
<body>
    <div class="container mt-4">
        <div class="card mx-auto" style="max-width:500px">
            <div class="card-header bg-transparent">
                <div class="navbar navbar-expand p-0">
                    <ul class="navbar-nav me-auto align-items-center">
                        <li class="nav-item">
                            <p><center>Contoh Pertanyaan</center></p>
                        </li>
                          
                    </ul>
                </div>
            </div>
            <div class="card-body p-4" style="height: 650px; overflow: auto;">
                <div class="d-flex align-items-baseline mb-4">
                    <div class="pe-2">
                        <div id="chatbox">
                            <p><span>1. Apa itu VRAM </span></p>
                            <p><span>2. Laptop Acer yang murah </span></p>
                            <p><span>3. ACER</span></p>
                            <p><span>4. Lebih baik memilih ASUS atau MSI untuk gaming</span></p>
                            <p><span>5. Apakah asus merek laptop yang bagus</span></p>
                            <p><span>6. Kepanjangan OS</span></p>
                            <p><span>7. Fungsi 4 GB RAM</span></p>
                            <p><span>8. Apa itu RAM</span></p>
                            <p><span>9. ASUS</span></p>
                            <p><span>10. Singkat, padat, dan jelas</span></p>
                        </div>
                      </div>
                </div>
            </div>    
        </div>
    </div>
</body>
</html>